
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Great+Vibes&display=swap');


@layer base{
  html{
    .boldonse-regular {
      font-family: "Boldonse", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;